.rocket-refetch {
  cursor: pointer;
  transition: all .3s ease-in-out;
  position: absolute;
  top: -50px;
}

.rocket-refetch:hover {
  font-size: 7rem;
  transform-origin: center;
  transform: rotate(360deg);
}